.ramen-thumb {
    text-align:center;
}
.ramen-thumb h1 {
    font-size: 12px;
    margin:0 0 5px;
}
.ramen-thumb p {
    margin:0;
}
body {
    background: url(/images/silver_scales.png);
}
.thumbnail {
    cursor:pointer;
}