body {
    background: url('/images/bg.jpg') no-repeat;
    background-size: 100%;
}
img {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
.full-pic {
    display:block;
    margin:0 auto;
}