<div class="container">

    <category-nav></category-nav>

    <div class="row">
        <div class="col-md-3">
            <update-categories-list></update-categories-list>
        </div>
        <div class="col-md-6">

            <h3>Categories</h3>

            <div class="row">
                <div class="col-md-12">
                    <a href="/!#/admin/category/new" class="btn btn-primary btn-sm" role="button">New Category</a>
                </div>
            </div>
        </div>
    </div>

</div>