<div class="container">
    <div class="page-header">
        <h1>Ramen
            <small>each city of Japan has its own unique flavour!</small>
        </h1>
    </div>
    <div class="row visible-xs" ng-controller="SelectedCtrl as info">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img data-ng-src="/images/categories{{ url }}/pics/{{ selected.pic }}" ng-if="selected.pic"
                         class="img-responsive img-rounded full-pic">

                    <h1>{{ selected.name }}
                        <small>{{ selected.city.name }}</small>
                    </h1>
                    <p>{{ selected.description }}</p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Buy now!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 city-list">
            <div class="row">
                <div class="col-md-3 col-xs-4" ng-repeat="chosenFood in food |
                    offset: currentPage*itemsPerPage |
                    limitTo: itemsPerPage" ng-click="select(chosenFood)">
                    <div class="thumbnail">
                        <img ng-src="/images/categories{{ url }}/thumbs/{{ chosenFood.thumbnail }}" class="img-responsive img-rounded">

                        <div class="caption chosen food-thumb">
                            <h1>{{ chosenFood.name }}</h1>

                            <p>
                                <small>{{ chosenFood.name_jp }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <pagination></pagination>
        </div>
        <div class="col-md-6 col-sm-6 hidden-xs" ng-controller="SelectedCtrl as info">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img data-ng-src="/images/categories{{ url }}/pics/{{ selected.pic }}" ng-if="selected.pic"
                         class="img-responsive img-rounded full-pic">

                    <h1>{{ selected.name }}
                        <small>{{ selected.city.name }}</small>
                    </h1>
                    <p>{{ selected.description }}</p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Buy now!</button>
                </div>
            </div>
        </div>
    </div>
</div>