<nav class="navbar navbar-default" role="navigation" ng-controller="NavCtrl as navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/!#/">Japanese Food Rocks!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Noodles <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="getClass('/ramen')"><a href="/!#/ramen">Ramen</a></li>
                        <li ng-class="getClass('/udon')"><a href="/!#/udon">Udon</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Seafood <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="getClass('/sushi')"><a href="/!#/sushi">Sushi</a></li>
                        <li ng-class="getClass('/sashimi')"><a href="/!#/sashimi">Sashimi</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More food <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="getClass('/sushi')"><a href="/!#/curry">Curry</a></li>
                        <li ng-class="getClass('/sashimi')"><a href="/!#/okonomiyaki">Okonomiyaki</a></li>
                        <li ng-class="getClass('/sashimi')"><a href="/!#/tonkatsu">Tonkatsu</a></li>
                        <li ng-class="getClass('/sashimi')"><a href="/!#/Gyoza">Gyoza</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drinks <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="getClass('/sushi')"><a href="/!#/greentea">Green tea</a></li>
                        <li ng-class="getClass('/sashimi')"><a href="/!#/beer">Beer</a></li>
                        <li ng-class="getClass('/sashimi')"><a href="/!#/sake">Sake</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>