<div class="row">
    <div class="col-md-12">
        <div class="pagination">
            <ul class="pager">
                <li ng-class="prevPageDisabled()">
                    <a href ng-click="prevPage()">&larr; Prev</a>
                </li>
                <li ng-repeat="n in range()"
                    ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                    <a href="#">{{n+1}}</a>
                </li>
                <li ng-class="nextPageDisabled()">
                    <a href ng-click="nextPage()">Next &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>